/* Reset */
* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}
html {
  font-family: "El Messiri", sans-serif;
  width: 100%;
  height: 100%;
}

/* Body */
body {
  background: #fff;
}

/* Header */
header {
  width: 100%;
  height: 80px;
  background: #222;
}
.logo {
  width: 50px;
  height: 65px;
  position: relative;
  top: 7.5px;
  float: left;
  margin-left: 5%;
}
.logo img {
  width: 100%;
  height: 100%;
}
nav {
  width: auto;
  height: 100%;
  float: left;
  margin-right: 5%;
  list-style: none;
}
nav h1 {
  text-align: center;
}
nav li {
  width: auto;
  margin-left: 30px;
  float: right;
}
nav li a {
  font-family: Arial;
  font-size: 16px;
  color: #fff;
  line-height: 80px;
}
nav select {
  width: 150px;
  height: 30px;
  margin-top: 25px;
  font-family: Arial;
  font-size: 14px;
  color: #666;
  border: 2px solid #aaa;
  padding-left: 10px;
}
nav select:focus {
  outline: none;
}

/* Slider */
#slider {
  width: 100%;
  height: 500px;
  position: relative;
  overflow: hidden;
}
@keyframes load {
  from {
    left: -100%;
  }
  to {
    left: 0;
  }
}
.slides {
  width: 400%;
  height: 100%;
  position: relative;
  -webkit-animation: slide 60s infinite;
  -moz-animation: slide 60s infinite;
  animation: slide 60s infinite;
}
.slider {
  width: 25%;
  height: 100%;
  float: left;
  position: relative;
  z-index: 1;
  overflow: hidden;
}
.slide img {
  width: 100%;
  height: 100%;
}
.slide img {
  width: 100%;
  height: 100%;
}
.image {
  width: 100%;
  height: 100%;
}
.image img {
  width: 100%;
  height: auto;
}

/* Legend */
.legend {
  border: 1000px solid transparent;
  background: rgba(52, 73, 94, 0.7);
  /* border-left: 800px solid rgba(52, 73, 94, 0.7); */
  border-bottom: 0;
  position: absolute;
  bottom: 0;
}

/* Contents header */
.content {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
}
.content-txt {
  width: 350px;
  height: 150px;
  float: left;
  position: relative;
  top: 150px;
  -webkit-animation: content-s 15s infinite;
  -moz-animation: content-s 15s infinite;
  animation: content-s 15s infinite;
}
.content-txt h1 {
  font-family: "El Messiri", sans-serif;
  text-transform: uppercase;
  font-size: 24px;
  color: #fff;
  text-align: left;
  margin-left: 30px;
  padding-bottom: 10px;
}
.content-txt h2 {
  font-family: "El Messiri", sans-serif;
  font-weight: normal;
  font-size: 14px;
  font-style: italic;
  color: #fff;
  text-align: left;
  margin-left: 30px;
}

/* Switch */
.switch {
  width: 120px;
  height: 10px;
  position: absolute;
  bottom: 50px;
  z-index: 99;
  left: 30px;
}
.switch > ul {
  list-style: none;
}
.switch > ul > li {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #333;
  float: left;
  margin-right: 5px;
  cursor: pointer;
}
.switch ul {
  overflow: hidden;
}
.on {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: #f39c12;
  position: relative;
  -webkit-animation: on 60s infinite;
  -moz-animation: on 60s infinite;
  animation: on 60s infinite;
}

/* Animation */
@-webkit-keyframes slide {
  0%,
  100% {
    margin-left: 0%;
  }
  21% {
    margin-left: 0%;
  }
  25% {
    margin-left: -100%;
  }
  46% {
    margin-left: -100%;
  }
  50% {
    margin-left: -200%;
  }
  71% {
    margin-left: -200%;
  }
  75% {
    margin-left: -300%;
  }
  96% {
    margin-left: -300%;
  }
}
@-moz-keyframes slide {
  0%,
  100% {
    margin-left: 0%;
  }
  21% {
    margin-left: 0%;
  }
  25% {
    margin-left: -100%;
  }
  46% {
    margin-left: -100%;
  }
  50% {
    margin-left: -200%;
  }
  71% {
    margin-left: -200%;
  }
  75% {
    margin-left: -300%;
  }
  96% {
    margin-left: -300%;
  }
}
@keyframes slide {
  0%,
  100% {
    margin-left: 0%;
  }
  21% {
    margin-left: 0%;
  }
  25% {
    margin-left: -100%;
  }
  46% {
    margin-left: -100%;
  }
  50% {
    margin-left: -200%;
  }
  71% {
    margin-left: -200%;
  }
  75% {
    margin-left: -300%;
  }
  96% {
    margin-left: -300%;
  }
}

@-webkit-keyframes content-s {
  0% {
    left: -420px;
  }
  10% {
    left: 0px;
  }
  30% {
    left: 0px;
  }
  40% {
    left: 0px;
  }
  50% {
    left: 0px;
  }
  60% {
    left: 0px;
  }
  70% {
    left: 0;
  }
  80% {
    left: -420px;
  }
  90% {
    left: -420px;
  }
  100% {
    left: -420px;
  }
}
@-moz-keyframes content-s {
  0% {
    left: -420px;
  }
  10% {
    left: 0px;
  }
  30% {
    left: 0px;
  }
  40% {
    left: 0px;
  }
  50% {
    left: 0px;
  }
  60% {
    left: 0px;
  }
  70% {
    left: 0;
  }
  80% {
    left: -420px;
  }
  90% {
    left: -420px;
  }
  100% {
    left: -420px;
  }
}
@keyframes content-s {
  0% {
    left: -420px;
  }
  10% {
    left: 20px;
  }
  15% {
    left: 0px;
  }
  30% {
    left: 0px;
  }
  40% {
    left: 0px;
  }
  50% {
    left: 0px;
  }
  60% {
    left: 0px;
  }
  70% {
    left: 0;
  }
  80% {
    left: -420px;
  }
  90% {
    left: -420px;
  }
  100% {
    left: -420px;
  }
}

@-webkit-keyframes on {
  0%,
  100% {
    margin-left: 0%;
  }
  21% {
    margin-left: 0%;
  }
  25% {
    margin-left: 15px;
  }
  46% {
    margin-left: 15px;
  }
  50% {
    margin-left: 30px;
  }
  71% {
    margin-left: 30px;
  }
  75% {
    margin-left: 45px;
  }
  96% {
    margin-left: 45px;
  }
}

@-moz-keyframes on {
  0%,
  100% {
    margin-left: 0%;
  }
  21% {
    margin-left: 0%;
  }
  25% {
    margin-left: 15px;
  }
  46% {
    margin-left: 15px;
  }
  50% {
    margin-left: 30px;
  }
  71% {
    margin-left: 30px;
  }
  75% {
    margin-left: 45px;
  }
  96% {
    margin-left: 45px;
  }
}

@keyframes on {
  0%,
  100% {
    margin-left: 0%;
  }
  21% {
    margin-left: 0%;
  }
  25% {
    margin-left: 15px;
  }
  46% {
    margin-left: 15px;
  }
  50% {
    margin-left: 30px;
  }
  71% {
    margin-left: 30px;
  }
  75% {
    margin-left: 45px;
  }
  96% {
    margin-left: 45px;
  }
}

/* Content */
.container {
  width: 70%;
  height: auto;
  padding: 20px 0;
  margin: 0px auto;
}
.container h1 {
  font-family: Arial;
  font-size: 24px;
  color: #222;
  text-transform: uppercase;
  margin: 20px 0;
}
.container h2 {
  font-family: arial;
  font-size: 16px;
  color: #444;
  margin-top: 10px;
}
.container h3 {
  font-family: arial;
  font-weight: normal;
  font-size: 16px;
  color: #aaa;
}
.code {
  width: 600px;
  height: auto;
  margin: 20px auto;
  padding: 10px 20px;
  background: #222;
  border-left: 10px solid #aaa;
  font-family: arial;
  font-size: 16px;
  color: #fff;
}
.code span {
  color: #89a978;
}
.space {
  width: 20px;
  height: 1px;
  float: left;
}

footer {
  width: 100%;
  height: 50px;
  background: #222;
}
footer h1 {
  font-family: Arial;
  font-weight: normal;
  font-size: 14px;
  color: #fff;
  margin-left: 5%;
  line-height: 50px;
}
/* card */

.card-image {
  display: block;
  min-height: 20rem;
  background: #fff center center no-repeat;
  background-size: cover;
  filter: blur(3px);
}

.card-image > img {
  display: block;
  height: 350px;
  width: 100%;
  opacity: 0; /* cache img element */
}

.card-image.is-loaded {
  filter: none; /* suppr le blur sur toutes l'image */
  transition: filter 1s;
}

/* cards */

.card-list {
  display: block;
  margin: 1rem auto;
  padding: 0;
  font-size: 0;
  text-align: center;
  list-style: none;
}

.card {
  height: 450px;
  display: inline-block;
  width: 90%;
  max-width: 20rem;
  margin: 1rem;
  font-size: 1rem;
  text-decoration: none;
  overflow: hidden;
  box-shadow: 0 0 3rem -1rem rgba(0, 0, 0, 0.5);
  transition: transform 0.1s ease-in-out, box-shadow 0.1s;
}

.card:hover {
  transform: translateY(-0.5rem) scale(1.0125);
  box-shadow: 0 0.5em 3rem -1rem rgba(0, 0, 0, 0.5);
}

.card-description {
  display: block;
  padding: 1em 0.5em;
  color: #515151;
  text-decoration: none;
}

.card-description > h2 {
  margin: 0 0 0.5em;
}

.card-description > p {
  margin: 0;
}
/* flex */
.flex {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
/* containerCategorie */
.containerCategorie {
  width: 100%;
}
/* test */
.test {
  background: red;
}

/* title job */
.titleJob {
  text-align: center;
  margin: 2rem 0;
}
/* developpeur web website */
.webSite {
  width: 500px;
}
.sepProject {
  margin: 2rem 0;
}
.bgColorGd {
  padding-top: 1rem;
  background-color: rgba(52, 73, 94, 0.1);
}
/* description des postes */
.detailGraph {
  width: 300px;
  padding: 1rem;
}
.detailGraph h4 {
  margin: 1rem 0;
}
.detailTxt {
  font-weight: 300;
  font-style: italic;
}
